html {
  font-size: 18px;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  @apply m-0 overflow-hidden;
}

@import '~@reach/menu-button/styles.css';
[data-reach-menu-list],
[data-reach-menu-items] {
  @apply bg-gray-900;
}

@import '~@reach/dialog/styles.css';
[data-reach-dialog-content] {
  @apply bg-gray-600;
}

@tailwind components;

@tailwind utilities;
