@import url('https://fonts.xz.style/serve/inter.css');

html {
  font-size: 18px;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  @apply m-0 overflow-hidden font-sans text-teal-200 bg-gray-800;
}
a {
  @apply text-teal-300;
}
a:visited {
  @apply text-teal-400;
}
button {
  @apply px-4 py-1 text-teal-200 bg-gray-700 border-teal-200 border-opacity-25 border-solid rounded-sm shadow-md outline-none cursor-pointer;
  border-width: 1px;
  font-size: 0.84rem;
}
button:hover {
  @apply text-teal-100 bg-gray-800 shadow-lg;
}
button:active {
  @apply bg-gray-900 shadow-lg;
}
button:disabled {
  @apply opacity-50 cursor-not-allowed;
}
input {
  @apply p-1 text-lg;
}
td {
  @apply font-mono;
}
th {
  @apply font-sans;
}

@import '~@reach/menu-button/styles.css';
[data-reach-menu-list],
[data-reach-menu-items] {
  @apply bg-gray-900;
}

@import '~@reach/dialog/styles.css';
[data-reach-dialog-content] {
  @apply bg-gray-600;
}

[data-reach-dialog-content] {
  max-width: 32rem;
  width: 100%;
}
[data-reach-dialog-overlay] {
  backdrop-filter: blur(3px);
}

@tailwind components;

@tailwind utilities;
