html {
  font-size: 18px;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  @apply m-0 font-sans bg-gray-800 text-teal-200 overflow-hidden;
}
a {
  @apply text-teal-300;
}
a:visited {
  @apply text-teal-400;
}
button {
  @apply outline-none cursor-pointer shadow-md py-1 px-4 bg-gray-700 text-teal-200 border-solid border-teal-200 border-opacity-25 rounded-sm;
  border-width: 1px;
  font-size: 0.84rem;
}
button:hover {
  @apply bg-gray-800 shadow-lg text-teal-100;
}
button:active {
  @apply bg-gray-900 shadow-lg;
}
button:disabled {
  @apply opacity-50 cursor-not-allowed;
}
input {
  @apply text-lg p-1;
}

@import '~@reach/menu-button/styles.css';
[data-reach-menu-list],
[data-reach-menu-items] {
  @apply bg-gray-900;
}

@import '~@reach/dialog/styles.css';
[data-reach-dialog-content] {
  @apply bg-gray-600;
}

@tailwind components;

@tailwind utilities;
